{% autoescape off %}

Hello {{ user.username }}

Thank you so much for joining News Reader. 
Your Presence means very much to us, we welcome you to our site.
Have fun Reading News and have a good day ahead!!

Also if you like our site please do try the Premium membership.
It's cheap and also offers a lots or more articles on our feeds,
even if you don't want to go for premium that's completely ok you can have fun as a free user too!!

This is Just a dummy mail to give a kind of production feel please don't really go for the premium version this is a dummy project not a real one

Thank You
News Reader Team


{% endautoescape %}