{% autoescape off %}

Hello {{ user.username }}

We feel deeply disheartend that you had to cancel the Premium Membership of News Reader, but ofcourse you might have your own reasons.

We are So so sorry from the depth of our heart's that you didn't like our premium membership. If Anything that you want us to change in our website please do mention that in our contacts present at Home page.

Thank you for Trying out our Premium Version. Have a Great day ahead!!!

With Regards
News Reader Team


{% endautoescape %}