{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

  {% for message in messages %}
  
    <div class="alert alert-{{message.tags}}">
      {{message}}
    </div>
  
  {% endfor %}

    <div id="home" class="container" style="margin-top: 40px;">
        <center><h1><span style="color: purple;">Welcome to News Reader!!!</span></h1></center><hr>

        <div class="row" style=" top: 45%; margin: auto; justify-content: center; width: 68rem; margin-top: 50px;">
            <div class="col-md-3 mx-4 d-flex mb-3">
                <div class="card shadow" style="width: 20rem; height: 15rem; justify-content: center;">
                    <div class="card-body d-flex flex-column" style="flex:1;">
                      <h5 class="card-title"><span style="color: blue;">Want To Read Some News?</span></h5>
                      <p class="card-text">Click the button below to get Amazing latest news and stay updated!</p>
                      <div class="mt-auto d-flex flex-column"><hr>
                        <a href="{% url "news" %}" class="btn btn-primary">Read News</a>
                      </div>
                    </div>
                  </div>
            </div>
            {% if user.is_authenticated %}

            <div class="col-md-3 mx-4 d-flex mb-3">
              <div class="card shadow" style="width: 20rem; height: 15rem;">
                  <div class="card-body d-flex flex-column" style="flex:1;">
                    <h5 class="card-title"><span style="color: blue;">Logout</span></h5>
                    <p class="card-text">Done already? Wanna Log-out? click in the button below and please come back to read the latest news!!!</p>
                    <div class="mt-auto d-flex flex-column"><hr>
                      <a href="{% url "logout" %}" class="btn btn-primary">Logout</a>
                    </div>
                  </div>
                </div>
          </div>

            {% else %}
            
            <div class="col-md-3 mx-4 d-flex mb-3">
              <div class="card shadow" style="width: 20rem; height: 15rem;">
                  <div class="card-body d-flex flex-column" style="flex:1;">
                    <h5 class="card-title"><span style="color: blue;">Login</span></h5>
                    <p class="card-text">Not Logged in yet? Log in now to read Spicy News right now!!!</p>
                    <div class="mt-auto d-flex flex-column"><hr>
                      <a href="{% url "login" %}" class="btn btn-primary">Login</a>
                    </div>
                  </div>
                </div>
          </div>
            
            {% endif %}
            {% if not user.subscription_model.subscription %}
            <div class="col-md-3 mx-4 d-flex mb-3">
              <div class="card shadow" style="width: 20rem; height: 15rem;">
                  <div class="card-body d-flex flex-column" style="flex:1;">
                    <h5 class="card-title"><span style="color:blue;">Subscribe</span></h5>
                    <p class="card-text">Want to Read more News, Subscribe with a reasonable price, Have fun reading...</p>
                    <div class="mt-auto d-flex flex-column"><hr>
                      <a href="{% url "premium" %}" class="btn btn-primary">Subscribe</a>
                    </div>
                  </div>
                </div>
          </div>
          {% else %}
          <div class="col-md-3 mx-4 d-flex mb-3">
            <div class="card shadow" style="width: 20rem; height: 15rem;">
                <div class="card-body d-flex flex-column" style="flex:1;">
                  <h5 class="card-title"><span style="color:blue;">Cancel Subscription?</span></h5>
                  <p class="card-text">You will not get your payment back even after cancelation of your Subscription so think carefully!</p>
                  <div class="mt-auto d-flex flex-column"><hr>
                    <a href="{% url "cancel_subscription" %}" class="btn btn-primary">Cancel Subscription</a>
                  </div>
                </div>
              </div>
        </div>
        {% endif %}
        </div>
            
    </div>

          <br>
          <br>

          <div class="Features" id="Features">
            <center><h1><span style="color:purple;">Features</span></h1></center>
            <hr>

            <div class="container text-center mt-5">
                <div class="card mb-4 shadow" style="width: 100%; min-height: 10rem;">
                    <div class="card-body d-flex flex-column" style="flex:1;">
                      <h5 class="card-title"><span style="color:blue;">Easy to Use</span></h5>
                      <p class="card-text">A simple Website where you can get a lots and lots of news everyday with just few clicks and maximum 2 minutes of time for logging in.</p>
                    </div>
                </div>
                <div class="card mb-4 shadow" style="width: 100%; min-height: 10rem;">
                    <div class="card-body d-flex flex-column" style="flex:1;">
                      <h5 class="card-title"><span style="color:blue;">Variety of News</span></h5>
                      <p class="card-text">Well News Reader has a lot of variety of news starting frm general category to space research query each and every news throughout the world is available in your hand.</p>
                    </div>
                </div>
                <div class="card mb-4 shadow" style="width: 100%; min-height: 10rem;">
                    <div class="card-body d-flex flex-column" style="flex:1;">
                      <h5 class="card-title"><span style="color:blue;">Multiple Category</span></h5>
                      <p class="card-text">News Reader has Multiple Category including General, Education, Science, Business and lot More, not happy yet? News Reader also provide a News Search Field where you can easily search Your desired news passing it as aquery in the Search Bar.</p>
                    </div>
                </div>
                <div class="card mb-4 shadow" style="width: 100%; min-height: 10rem;">
                    <div class="card-body d-flex flex-column" style="flex:1;">
                      <h5 class="card-title"><span style="color:blue;">Multiple Language</span></h5>
                      <p class="card-text">Not Every Body is familiar with all the languages, So News Reader Provide the comfort of Multiple Language to populate the News feeds.</p>
                    </div>
                </div>
                <div class="card mb-4 shadow" style="width: 100%; min-height: 10rem;">
                    <div class="card-body d-flex flex-column" style="flex:1;">
                      <h5 class="card-title"><span style="color:blue;">Multiple Country</span></h5>
                      <p class="card-text">Have Fun Reading News not only from your Country, But also other countries News too. Don't want to read by country wise? You can also read World News altogether.</p>
                    </div>
                </div>
                <div class="card mb-4 shadow" style="width: 100%; min-height: 10rem;">
                    <div class="card-body d-flex flex-column" style="flex:1;">
                      <h5 class="card-title"><span style="color:blue;">Reasonable Price for Subscription</span></h5>
                      <p class="card-text">with the Free Version you will get only 3 News Article but with Premium Subscription You can get all the news Articles available at the time. Don't Worry About the money it is realle very Cheap Ckeck on the <a href="{% url "premium" %}">Pricing</a> to know More</p>
                    </div>
                </div>
            </div>

          </div>
          <br>
          <br>

          <div class="why text-center" id="why">
            <center>
              <h1 style="color: purple;">Why Choose Premium?</h1>
            </center>
            <hr>
            <div class="row" style=" top: 45%; margin: auto; justify-content: center; width: 68rem; margin-top: 50px;">
                <div class="col-md-3 mx-4 d-flex mb-3">
                  <div class="card shadow">
                      <div class="card-body d-flex flex-column" style="flex:1;">
                        <h5 class="card-title" style="color: blue;">Free User</h5><hr>
                        <p class="card-text text-start"><i class="bi bi-check" style="color:green; font-size:20px"></i> All Categories Available <br> <i class="bi bi-check" style="color:green; font-size:20px"></i> All Language is Supported <br> <i class="bi bi-check" style="color:green; font-size:20px"></i> Open the App anytime <br><i class="bi bi-x" style="color:red; font-size:20px"></i> 3 News Articles At a time</p>
                      </div>
                    </div>
              </div>
              <div class="col-md-3 mx-4 d-flex mb-3">
                <div class="card shadow">
                    <div class="card-body d-flex flex-column" style="flex:1;">
                      <h5 class="card-title" style="color: blue;"><i class="bi bi-coin" style="color:#ff9916;"></i> Premium User </h5><hr>
                      <p class="card-text text-start"><i class="bi bi-check" style="color:green; font-size:20px"></i> All Categories Available <br> <i class="bi bi-check" style="color:green; font-size:20px"></i> All Language is Supported <br> <i class="bi bi-check" style="color:green; font-size:20px"></i> Open the App anytime <br><i class="bi bi-check" style="color:green; font-size:20px"></i> All News Articles Available</p>
                    </div>
                  </div>
            </div>
            </div>
            <div class="mt-4">
              <a href="{% url "premium" %}" class="btn btn-primary">Go for Premium</a>
            </div>
            
          </div>
          <br>
          <br>

          <div class="about" id="about">
            <center><h1><span style="color:purple;">About</span></h1></center>
            <hr>

            <div class="container text-center mt-5">
                <p>Hello I am Sandipan Adhikary, an IT engineer by Proffession and a tech lover by Passion. This News Reader Project is a self-made Project. This is only for demo purpose not for Real-Time Use. It can Only Handle 500 request per Month after that no more news will be fetched for a month, please consider this as warning since bulk of request can crash the site. Please have a look through the whole website as it will be fun to explore for sure. The Pricing is done for the sole purpose of show-casing payment gateway implementation only. Thank you for your time, have fun exploring the website and have a good day ahead!!! ;)</p>
            </div>

          </div>

          <br>
          <br>

          <div class="contact" id="contact">
            <center><h1><span style="color:purple;">Contact</span></h1></center>
            <hr>

            <div class="container text-center mt-5 shadow-lg" style="display:flex; justify-content: center; border-radius: 15px;">
                <form method="post">
                  {% csrf_token %}
                  {% if form.captcha.errors %}
                    {% for error in form.captcha.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{error}}
                    </div>
                    {% endfor %}
                    {% endif %}
                  <div class="contains shadow-lg mb-3 mt-3" style="background-color: #a2e0f0; border-radius: 15px;">
                    <div class="mb-3 px-3 pt-3">
                      {{form.name}}
                    </div>
                    <div class="mb-3 px-3">
                      {{form.email}}
                    </div>
                    <div class="mb-3 px-3">
                      {{form.subject}}
                    </div>
                    <div class="mb-3 px-3">
                      {{form.query}}
                    </div>
                    <div class="mb-3 px-3">
                      {{form.captcha}}
                    </div>
                    <button class="btn btn-success mb-3">Submit</button>
                  </div>
                </form>
            </div>

          </div>

          <div class="footer" style="border-top: 1px; padding: 1 rem; margin-top: 30px; background-color: #a2e0f0; width: 100%; position: absolute; left: 0; padding-left:10px; padding-right: 10px; height: 7rem;"><hr>
            <footer class="d-flex flex-wrap justify-content-between align-items-center">
                <p class="col-md-4 mb-0 text-body-secondary" style="user-select: none;">© 2024 <span style="color:purple;">Sandipan Adhikary</span>, News Reader</p>
                <ul class="nav col-md-4 justify-content-end">
                  <li class="nav-item"><a href="#home" class="nav-link px-2 text-body-secondary"><span style="color: purple;">Home</span></a></li>
                  <li class="nav-item"><a href="#Features" class="nav-link px-2 text-body-secondary">Features</a></li>
                  <li class="nav-item"><a href="#why" class="nav-link px-2 text-body-secondary">Pricing</a></li>
                  <li class="nav-item"><a href="#about" class="nav-link px-2 text-body-secondary">About</a></li>
                </ul>
              </footer>
          </div>

{% endblock %}