{% autoescape off %}

Hello {{user.username}}

You are reciving this mail because you requested for password reset.

Please Click on the link below to change your password:

{{protocol}}://{{domain}}{% url "password_reset_confirm" uidb64=uid token=token %}

This link can only be used once for security measures, if you need to reset password again please kindly request for password reset.

if you did not make any password reset request, kindly ignore this mail.

Your user name is: {{user.username}}
Your E-Mail is: {{email}}

Thank You
The News Reader Team

{% endautoescape %}