{% extends "base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}

    <div class="container">
        <center>
            <h1 style="color:purple;">Forgot Password?</h1>
            <h5>No Worries! Just provide us the registered E-Mail for Changing the Password:</h5><hr>
        </center>
        <div class="contains mt-5 text-center" style="display: flex;justify-content: center;">
            <form method="post">
                {% csrf_token %}
                <div class="box shadow-lg" style="background-color: #a2e0f0; border-radius: 15px">
                    <div class="m-4 px-3 pt-3" style="border-radius: 15px;">
                        {{form.as_p}}
                    </div>
                    <button class="btn btn-success mb-4">Submit</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}